﻿@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

    <MudThemeProvider Theme="MyArkosTheme"/>
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MatToastContainer />

    <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="@MenuStateHandling">
        <MatDrawer @bind-Opened="@_navMenuOpened">
            <header class="drawer-header">
                <div class="drawer-logo">
                    <img alt="Logo ARKOS" class="logo-img" src="/images/logoIcon.png" title="Logo ARKOS">
                    <a class="miniHover" href="/">&nbsp ARKOS</a>
                </div>
            </header>
            <NavMenu />
        </MatDrawer>

        <MatDrawerContent>
            <MatAppBarContainer Style="display: flex; flex-direction: column; min-height: 100vh;">
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatAppBarTitle>
                            </MatAppBarTitle>
                            <div class="hidden-mdc-down">
                                <MatTooltip Tooltip="Zwiń/rozwiń menu">
                                    <MatIconButton Class="navToggle" Icon="menu" ToggleIcon="menu" OnClick="@((e) => NavToggle())" RefBack="@context"></MatIconButton>
                                </MatTooltip>
                                @*<MatTooltip Tooltip="Zminimalizuj menu">
                                    <MatIconButton Class="navToggle" Icon="format_indent_decrease" ToggleIcon="format_indent_increase" OnClick="@((e) => NavMinify())" RefBack="@context"></MatIconButton>
                                </MatTooltip>*@
                            </div>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <LoginDisplay />
                            <MatIconButton Icon="account_circle" Link="Identity/Account/Manage"></MatIconButton>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>
                <MatAppBarContent Style="flex: 1; display: flex; flex-direction: column;">
                    <section class="container-fluid" style="flex: 1;">
                        @Body
                    </section>
                </MatAppBarContent>
            </MatAppBarContainer>
        </MatDrawerContent>
    </MatDrawerContainer>

    @code {
        bool _navMenuOpened = true;
        bool _navMinified = false;
        public string MenuStateHandling = string.Empty;

        MudTheme MyArkosTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Blue.Accent4,
                Secondary = Colors.Green.Accent4,
            }
        };

        void NavToggle()
        {
            _navMenuOpened = !_navMenuOpened;

            if (_navMenuOpened)
            {
                MenuStateHandling = "full";
            }
            else
            {
                MenuStateHandling = "closed";
            }

            StateHasChanged();
        }

        void NavMinify()
        {
            _navMinified = !_navMinified;

            if (!_navMenuOpened)
            {
                _navMinified = true;
            }

            if (_navMinified)
            {
                MenuStateHandling = "mini";
                _navMenuOpened = true;
            }
            else if (_navMenuOpened)
            {
                MenuStateHandling = "full";
            }

            _navMenuOpened = true;

            StateHasChanged();
        }
    }