﻿@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

<MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
    <MatIcon>bar_chart</MatIcon> <span class="miniHover">&nbsp Dashboard</span>
</MatNavItem>

<MatNavItem Href="@navigationManager.ToAbsoluteUri("fuelings").AbsoluteUri">
    <MatIcon>event_note</MatIcon> <span class="miniHover">&nbsp Tankowania</span>
</MatNavItem>

<MatNavItem Href="@navigationManager.ToAbsoluteUri("drivers").AbsoluteUri">
    <MatIcon>people</MatIcon> <span class="miniHover">&nbsp Kierowcy</span>
</MatNavItem>

<MatNavItem Href="@navigationManager.ToAbsoluteUri("cars").AbsoluteUri">
    <MatIcon>directions_car</MatIcon> <span class="miniHover">&nbsp Pojazdy</span>
</MatNavItem>

