﻿@inject NavigationManager NavigationManager
<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/login");
    }
}