﻿@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="mud-elevation-5 rounded white pt-2">
            <MudGrid>
                <MudItem xs="12">
                    <MudText Class="d-block mt-5 ml-5 mb-2" Typo="Typo.h4">Witaj, @context.User.Identity.Name!</MudText>
                </MudItem>
                <br />
                <MudItem xs="6">
                    <MudText Class="d-flex mt-5 ml-5 mb-2 justify-center" Typo="Typo.h6">Miesieczna liczba kilometrów</MudText>
                    <MudPaper Class="d-inline-flex align-center justify-center mud-width-full py-8 mb-4 ml-2">
                        <MudChart ChartType="ChartType.Pie" InputData="@dataKilometers" InputLabels="@labels" Width="300px" Height="300px" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="6">
                    <MudText Class="d-flex mt-5 ml-5 mb-2 justify-center" Typo="Typo.h6">Miesieczna ilość paliwa</MudText>
                    <MudPaper Class="d-inline-flex align-center justify-center mud-width-full py-8 mb-4 mr-5">
                        <MudChart ChartType="ChartType.Pie" InputData="@dataFuel" InputLabels="@labels" Width="300px" Height="300px" />
                    </MudPaper>
                </MudItem>
                <br />
            </MudGrid>
            <footer id="footerMain">
                <p>
                    <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
                    <span id="footerText">
                        strona wykonana w celach dydaktycznych:
                        <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
                    </span>
                </p>
            </footer>
        </div>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>

@code {
    int dataSize = 3;
    double[] dataKilometers = { 77, 25, 20 };
    double[] dataFuel = { 11, 44, 33 };
    string[] labels = { "Peugeot", "Audi", "Renault"};

    Random random = new Random();

    void RandomizeData()
    {
        var new_data = new double[dataSize];
        for (int i = 0; i < new_data.Length; i++)
        {
            dataKilometers[i] = random.NextDouble() * 100;
            dataFuel[i] = random.NextDouble() * 100;
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5);
        RandomizeData();
    }
}
