﻿@page
@model ForgotPasswordModel

<div class="row">
    <div class="col-9">
        <form method="post" style="margin-top: 40%; margin-left: 50%; box-sizing: unset;">
            <h4>Wprowadź adres e-mail.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Dalej</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
