﻿@page "/drivers"
@using Arkos.Workshop.UI.DriverCrm.ViewModels
@inherits DriversBase
@inject IMatToaster Toaster
@attribute [Authorize]

@if (Drivers == null)
{
    <MudProgressCircular Color="Color.Primary" Style="height:100px;width:100px; position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px;" Indeterminate="true" />

}
else
{
    <div class="mud-elevation-5 rounded white pt-2">
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="d-block mt-5 ml-5 mb-2" Typo="Typo.h4">Kierowcy</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudFab @onclick="@(e => OpenDialog(false))" Icon="@Icons.Rounded.PersonAdd" Label="Dodaj kierowce"
                        Size="Size.Small" IconSize="Size.Medium" Color="Color.Primary" Class="mt-3 mb-3 ml-5" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField @bind-Value="@SearchStringToFilter" Placeholder="Wyszukaj" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mb-3 mr-5">
                </MudTextField>
            </MudItem>
        </MudGrid>
        <MudTable Items="@Drivers" Hover="true" Striped="true" Filter="new Func<DriverViewModel, bool>(FilterData)" FixedHeader="true" Elevation="0"
                  Height="530px" SortLabel="Sortby">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DriverViewModel, object>(x => x.Name)">Imię</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DriverViewModel, object>(x => x.LastName)">Nazwisko</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.LastName</MudTd>
                <MudTd Style="text-align: right">
                    <MudFab Link="@($"driverdetail/{context.Id}")" Icon="@Icons.Rounded.Info" Size="Size.Small"
                            IconSize="Size.Small" Class="ma-1" />
                    <MudFab @onclick="@(e => OpenDialog(true, context.Id))" Icon="@Icons.Rounded.Edit"
                            Size="Size.Small" IconSize="Size.Small" Class="ma-1" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
        <p>@ExceptionMessage</p>
    </div>

    <InputFile id="fileInput" OnChange="OnChange" accept=".jpg, .jpeg, .png" hidden />
    <MatDialog @bind-IsOpen="@DialogIsOpen">
        <MudForm @bind-IsValid="@SuccessValidation">
            <MatDialogContent>
                <MudText Typo="Typo.h6" Class="d-block mt-5">Dodaj kierowce</MudText><br />
                <MudTextField Label="Imię" @bind-Value="@Driver.Name" Required="true" RequiredError="Imię jest wymagane!"
                              Class="d-flex mb-4 mr-2"></MudTextField>
                <MudTextField Label="Nazwisko" @bind-Value="@Driver.LastName" Required="true" RequiredError="Nazwisko jest wymagane!"
                              Class="d-flex mb-4 mr-2"></MudTextField>
                <MudSwitch @bind-Checked="@Driver.IsActive" Color="Color.Primary" Label="Kierowca aktywny?" Class="d-flex mr-2" />
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Rounded.Image" for="fileInput">
                    Wgraj zdjęcie
                </MudButton>
                @if (ImageDataUrls != null)
                {
                    <MudList>
                        @foreach (var file in ImageDataUrls)
                        {
                            <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                <img src="@file" />
                            </MudListItem>
                        }
                    </MudList>
                }
            </MatDialogContent>
        </MudForm>

        <MatDialogActions>
            <MudButton OnClick="ConfirmActionIntoDialog" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Save"
                       Color="Color.Primary" Class="mr-1 mt-1 mb-3" Disabled="@(!SuccessValidation)">Dodaj</MudButton>
            <MudButton OnClick="CloseDialog" Variant="Variant.Filled" Class="ml-1 mt-1 mb-3 mr-3">Anuluj</MudButton>
        </MatDialogActions>
    </MatDialog>
}
<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>