﻿@page "/driverdetail/{driverId:int}"
@inherits DriverDetailBase
@attribute [Authorize]

<div class="col-12 row">
    <div class="col-11">
        <h1 class="page-title">Szczegóły dla kierowcy @Driver.Name @Driver.LastName </h1>
    </div>
    <div class="col-1">
        <MudFab Link="@($"drivers")" Icon="@Icons.Rounded.Forward" Size="Size.Small"
                IconSize="Size.Small" Class="ma-1" />
    </div>
</div>
<hr />
<br />

<div class="col-12 row">
    <div class="col-1">

    </div>
    <div class="col-11 row">
        <div class="col-6">
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Driver Id</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Driver.Id</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Imię</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Driver.Name</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Nazwisko</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Driver.LastName</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Aktywny</MudText>
                <div class="col-sm-8">
                    @if (Driver.IsActive)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                    }
                    else
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Medium"></MudIconButton>
                    }
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Zdjęcie</MudText>
                <div class="col-sm-8">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(e => ReadImage(@Driver))">Załaduj zdjęcie</MudButton>
                </div>
            </div>
        </div>

        <div class="col-5">
            <img src="@DriverImage" asp-append-version="true" class="img-thumbnail rounded" />
        </div>
    </div>
</div>
<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>