﻿@page "/cars"
@using Arkos.Workshop.UI.CarCrm.ViewModels
@inherits CarsBase
@inject IMatToaster Toaster
@attribute [Authorize]

@if (Cars == null)
{
    <MudProgressCircular Color="Color.Primary" Style="height:100px;width:100px; position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px;" Indeterminate="true" />
}
else
{
    <div class="mud-elevation-5 rounded white pt-2">
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="d-block mt-5 ml-5 mb-2" Typo="Typo.h4">Samochody</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudFab @onclick="@(e => OpenDialog(false))" Icon="@Icons.Rounded.Add" Label="Dodaj samochód"
                        Size="Size.Small" IconSize="Size.Medium" Color="Color.Primary" Class="mt-3 mb-3 ml-5" />
            </MudItem>
            <MudItem xs="6">
                <MudTextField @bind-Value="@SearchStringToFilter" Placeholder="Wyszukaj" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                              Class="mb-3 mr-5">
                </MudTextField>
            </MudItem>
        </MudGrid>
        <MudTable Items="@Cars" Hover="true" Striped="true" Filter="new Func<CarViewModel, bool>(FilterData)" FixedHeader="true" Elevation="0"
                  Height="530px" SortLabel="Sortby">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<CarViewModel, object>(x => x.Brand)">Marka</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<CarViewModel, object>(x => x.Model)">Model</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<CarViewModel, object>(x => x.Plate)">Tablica rejestracyjna</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Brand</MudTd>
                <MudTd>@context.Model</MudTd>
                <MudTd>@context.Plate</MudTd>
                <MudTd Style="text-align: right">
                    <MudFab Link="@($"cardetail/{context.Id}")" Icon="@Icons.Rounded.Info" Size="Size.Small"
                            IconSize="Size.Small" Class="ma-1" />
                    <MudFab @onclick="@(e => OpenDialog(true, context.Id))" Icon="@Icons.Rounded.Edit"
                            Size="Size.Small" IconSize="Size.Small" Class="ma-1" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>

    <MatDialog @bind-IsOpen="@DialogIsOpen">
        <MudForm @bind-IsValid="@SuccessValidation">
            <MatDialogContent>
                <MudText Typo="Typo.h6" Class="d-block mt-5">Dodaj pojazd</MudText><br />
                <MudTextField Label="Marka" @bind-Value="@Car.Brand" Required="true" RequiredError="Marka jest wymagana!" Class="d-flex mb-4 mr-2"></MudTextField>
                <MudTextField Label="Model" @bind-Value="@Car.Model" Required="true" RequiredError="Model jest wymagany!" Class="d-flex mb-4 mr-2"></MudTextField>
                <MudTextField Label="Tablica Rejestracyjna" @bind-Value="@Car.Plate" Required="true" RequiredError="Tablica rejestracyjna jest wymagana!" Class="d-flex mb-3 mr-2"></MudTextField>
                <MudSwitch @bind-Checked="@Car.IsActive" Label="Pojazd w użytku?" Color="Color.Primary" Class="d-flex mr-2" />
            </MatDialogContent>
        </MudForm>
        <MatDialogActions>
            <MudButton OnClick="ConfirmActionIntoDialog" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save"
                       Color="Color.Primary" Class="mr-1 mt-1 mb-3" Disabled="@(!SuccessValidation)">Dodaj</MudButton>
            <MudButton OnClick="CloseDialog" Variant="Variant.Filled" Class="ml-1 mt-1 mb-3 mr-3">Anuluj</MudButton>
        </MatDialogActions>
    </MatDialog>
}

<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>


