﻿@page "/fuelingdetail/{fuelingId:int}/{carId:int}/{driverId:int}"
@using System.Globalization
@inherits FuelingDetailBase
@attribute [Authorize]

<div class="col-12 row">
    <div class="col-11">

        <h1 class="page-title">
            Szczegóły dla tankowania z dnia
            @if (Fueling.Date != null)
            {
                @(((DateTime) Fueling.Date).ToString("D", CultureInfo.CreateSpecificCulture("pl-PL")))
            }
        </h1>
    </div>
    <div class="col-1">
        <MudFab Link="@($"fuelings")" Icon="@Icons.Rounded.Forward" Size="Size.Small"
                IconSize="Size.Small" Class="ma-1" />
    </div>
</div>
<hr />
<br />

<div class="col-12 row">
    <div class="col-1">

    </div>
    <div class="col-11 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Tankowanie numer</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Fueling.Id</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Samochód</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@(Car?.Brand + " " + Car?.Model)</MudText>
                </div>

            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Kierowca</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@(Driver?.Name + " " + Driver?.LastName)</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Ilość paliwa</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Fueling.Fuel</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Koszt</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Fueling.Cost</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Przebieg</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Fueling.RefuelingMileage</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Data</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>
                        @if (Fueling.Date != null)
                        {
                            @(((DateTime) Fueling.Date).ToString("d.M.yyyy"))
                        }
                    </MudText>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>